<template>
    <div class="column">
        <div class="ui content">
            <div class="ui very padded segment">
                <form method="post" class="ui form">
                    <div class="ui input">

                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
