<template>
    <div class="ui container">
        <div class="ui content">
            <div class="ui very padded segment">
                <div class="ui dividing header">Settings</div>
                <form class="ui form" name="settingsForm" id="settingsForm" method="post">
                    <div v-show="(user.role_id === 1 ||
                                 user.role_id === 2)">
                        <h4 class="ui header">Admin Only Settings</h4>
                        <div class="ui inline field">
                            <div class="ui toggle checkbox">
                                <input id="showDevices" name="showDevices" type="checkbox"
                                       v-model="changeSetting.show_devices">
                                <label for="showDevices">Devices</label>
                            </div>
                        </div>
                        <div class="ui inline field">
                            <div class="ui toggle checkbox">
                                <input id="showResolveButton" name="showResolve" type="checkbox"
                                       v-model="changeSetting.show_resolve_button">
                                <label for="showResolveButton">Resolve Button for Clients</label>
                            </div>
                        </div>
                        <div class="ui inline field">
                            <div class="ui toggle checkbox">
                                <input id="showTickets" name="showTickets" type="checkbox"
                                       v-model="changeSetting.nav_show_tickets">
                                <label for="showTickets">Support Tickets</label>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <input type="hidden" name="user_id" v-model="changeSetting.user_id">
                    <input type="hidden" name="domain_id" v-model="changeSetting.domain_id">
                    <button @click.prevent="save(user.id, user.selected_domain_id)" class="ui button primary fluid">Save
                        Settings
                    </button>
                </form>
                <div v-if="!errors" class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                        An Error Occurred
                    </div>
                    <p>{{ errors }}
                    </p>
                </div>
                <div v-if="savedMessage" class="ui positive message">
                    <div class="header">
                        Success!
                    </div>
                    <p>
                        {{ savedMessage }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        props: ['settingsData', 'user'],

        data() {
            return {
                changeSetting: {
                    user_id: this.user.id,
                    domain_id: this.user.selected_domain_id,
                    show_devices: this.settingsData.show_devices,
                    show_resolve_button: this.settingsData.show_resolve_button,
                    nav_show_tickets: this.settingsData.nav_show_tickets,
                    nav_show_register: this.settingsData.nav_show_register
                },
                errors: [],
                saved: null,
                savedMessage: null
            }
        },

        methods: {
            save(id, domain_id) {
                for (let key in this.changeSetting) {
                    if (!this.changeSetting.hasOwnProperty(key)) {
                        continue;
                    }

                    if (this.changeSetting[key] === true) {
                        this.changeSetting[key] = 1;
                    } else if (this.changeSetting[key] === false) {
                        this.changeSetting[key] = 0;
                    }
                    console.log(key);
                    console.log(this.changeSetting[key]);
                }

                axios.post('/' + domain_id + '/settings/' + id + '/save', this.$data)
                    .then((response) => {
                        if (!response) {
                            this.errors = ['Error occurred when saving']
                        } else {
                            this.savedMessage = 'Settings Saved!';

                            setTimeout(() => {
                                this.savedMessage = '';
                            }, 2000);
                        }
                    });
            }
        }
    }
</script>

<style>

</style>
