@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  /* IE6-9 */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

main#mainContent {
  margin-top: 4rem;
}

.checkbox {
  padding: .7rem;
}

button.ui.button.primary {
  margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin-top: 10rem;
  }
}

