<template>
    
</template>

<script>
    import fab from 'vue-fab'

    export default {
        components: {
            fab
        },
        data(){
            return {
                bgColor: '#778899',
                position: 'top-right',
                fabActions: [
                    {
                        name: 'cache',
                        icon: 'cached'
                    },
                    {
                        name: 'alertMe',
                        icon: 'add_alert'
                    }
                ]
            }
        },
        methods:{
            cache(){
                console.log('Cache Cleared');
            },
            alert(){
                alert('Clicked on alert icon');
            }
        }
    }
</script>

<style scoped>

</style>